html {
  margin: 9.6vh 0 0 0;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
  font-weight: bold;
}
.log, a .white{
  margin: 3px;
  color: white;
  font-weight: bold;
}
.slider{
  background-image: url("../images/bg-3.png");
  background-size: cover;
  background-position: center;
  height: 450px;
}
.img-user{
  margin-top: -50px;
  margin-bottom: 25px;
}
.img-user img{
  width: 100px;
  height: 100px;
}
body{
  background-image: url(../images/fondo.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-size: cover;
}
.modal-content{
  background-color: #3b4652;
  opacity: .95;
  padding: 0 20px;
  box-shadow: 0px 0px 3px #8484;
}


/* tabla bootstrap */
.table tr th, .table td {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}

.table th:first-of-type { border-radius: 10px 0 0 0;}
.table th:last-of-type { border-radius: 0 10px 0 0;}
.table tbody tr:last-of-type td:last-of-type { border-radius: 0 0 10px 0;}
.table tbody tr:last-of-type td:first-of-type { border-radius: 0 0 0 10px;}

.table td {
  background-color: white;
}

.table .thead-dark th {
  border: none;
  border-bottom: 2px solid #454d55;
}

.icono {
  font-size: 24px;
}

a.btn-login {
  text-decoration: none;
  color: white;
}

.login {
  margin: 8% 0 8% 0;
}

.centrar-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}

.direccion-columna {
  flex-direction: column;
}

.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}

.gris {
  background-color: grey;
}

.borde {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}

section.grande {
  width: 420px;
  padding: 2%;
}

.agregar-tabla {
  display: block;
}

.blanco {
  color: white;
}

.rojo {
  color:red;
}

input.largo {
  width: 100%;
}

.rojo {
  color: red;
}

div.admin {
  margin: 5% 0 0 0;
}

.oculto {
  visibility: hidden;
}

button.btn-seleccionar-banda, button.btn-seleccionar-evento{
  width: 100%;
}

.none {
  display: none;
}

.ancho {
  width: 100%;
}

.margen-der {
  margin: 0 1% 0 0;
}

.margen-izq {
  margin: 0 0% 0 1%;
}

#btn-eliminar {
  margin-top: 2%;
}

.botonera-admin a {
  margin: 3% 0;
}

.tablas {
  margin : 0 5% 0 5%;
}

.margen-abajo {
  margin: 0 0 5% 0;
}

.margen-arriba {
  margin: 5% 0 0 0;
}

.margen-tabla-admin {
  margin: 5% 5% 0 5%;
}

.botonera {
  display: flex;
  flex-direction: row;
}

div.botonera input {
  width: 100%;
}

@media only screen and (max-width:800px) {

  .table tr th, .table td {
    padding: 13px;
  }

}

@media only screen and (max-width:500px) {

  .table tr th, .table td {
    font-size: 0.8em;
    padding: 7px;
  }

  nav a.titulo {
    font-size: 0.8em;
  }
}

/* Error 404 */

.err, .err:before, .err:after {
  box-sizing: content-box;
  transform: translate3d(0, 0, 0);
}
.face {
  width: 300px;
  height: 300px;
  border: 4px solid #383A41;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin: 0 auto;
}
@media screen and (max-width: 400px) {
  .face {
    margin-top: 40px;
    transform: scale(0.8);
  }
}
.face .band {
  width: 350px;
  height: 27px;
  border: 4px solid #383A41;
  border-radius: 5px;
  margin-left: -25px;
  margin-top: 50px;
}
.face .band .red {
  height: calc(100% / 3);
  width: 100%;
  background-color: #EB6D6D;
}
.face .band .white {
  height: calc(100% / 3);
  width: 100%;
  background-color: #FFFFFF;
}
.face .band .blue {
  height: calc(100% / 3);
  width: 100%;
  background-color: #5E7FDC;
}
.face .band:before {
  content: "";
  display: inline-block;
  height: 27px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 999;
}
.face .band:after {
  content: "";
  display: inline-block;
  height: 27px;
  width: 30px;
  background-color: rgba(56, 58, 65, 0.3);
  position: absolute;
  z-index: 999;
  right: 0;
  margin-top: -27px;
}
.face .eyes {
  width: 128px;
  margin: 0 auto;
  margin-top: 40px;
}
.face .eyes:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  border: 7px solid #383A41;
  margin-right: 20px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom: 0;
}
.face .eyes:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  border: 7px solid #383A41;
  margin-left: 20px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom: 0;
}
.face .dimples {
  width: 180px;
  margin: 0 auto;
  margin-top: 15px;
}
.face .dimples:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 80px;
  border-radius: 50%;
  background-color: rgba(235, 109, 109, 0.4);
}
.face .dimples:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 80px;
  border-radius: 50%;
  background-color: rgba(235, 109, 109, 0.4);
}
.face .mouth {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #383A41;
  margin: 0 auto;
  margin-top: 25px;
}
h1.error-404 {
  font-weight: 800;
  color: #383A41;
  text-align: center;
  font-size: 2.5em;
  padding-top: 20px;
}
@media screen and (max-width: 400px) {
  .error-404 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2em;
  }
}
.btn-404 {
  font-family: "Open Sans";
  font-weight: 400;
  padding: 20px;
  background-color: #5e7fdc;
  color: white;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 50px;
  transition: all 0.2s linear;
}
@media screen and (max-width: 400px) {
  .btn-404 {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 200px;
  }
}
.btn-404:hover {
  background-color: rgba(94, 127, 220, 0.8);
  transition: all 0.2s linear;
}
.view {
  height: 90.4vh;
}

.view-fixed {
  height: 81vh;
}

footer {
  border-radius: 15px 15px 0 0;
}

/* github icon */

a.icon, svg {
  display: block
}

a.icon {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
}

svg {
  height: 100%;
  width: 100%;
}
    
.icon {
  background: black;
  border-radius: 100%;
  color: white;
  fill: white;
}
.icon:hover {
  background: white;
  color: black;
  fill: black;
}

.github {
  background: white;
  color: black;
  fill: black;
}

.github:hover {
  background: #6441a5;
  color: white;
  fill: white;
}


td.link {
  cursor: pointer;
  color: #007bff;
}

td.link:hover {
  text-decoration: underline;
}

/* popup al borrar */

.contenedor {
	margin: 20px auto;
	max-width: 1000px;
	width: 90%;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	padding: 50px 0;
	text-align: left;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	background-color: #5e7de3;
	border-radius: 3px;
	border-style: none;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	padding: 0 20px;
	transition: background-color 0.3s ease;
}

.contenedor article .btn-abrir-popup:hover,
.contenedor article .btn-abrir-popup:focus,
.contenedor article .btn-abrir-popup:active {
	background-color: rgba(94, 125, 227, 0.9);
}


/* Popup */
.overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background-color: #f8f8f8;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	font-family: 'Montserrat', sans-serif;
	max-width: 90%;
	opacity: 0;
	padding: 20px;
	text-align: center;
	transform: scale(0.7);
	transition: opacity 0.3s ease,
							transform 0.3s ease;
	width: 500px;
}

.popup .btn-cerrar-popup {
	display: block;
	color: #bbbbbb;
	line-height: 16px;
	text-align: right;
	transition: color 0.3s ease;
}

.popup .btn-cerrar-popup:hover,
.popup .btn-cerrar-popup:focus,
.popup .btn-cerrar-popup:active {
	color: #000000;
}

.popup form .btn-submit:hover,
.popup form .btn-submit:focus,
.popup form .btn-submit:active {
	background-color: rgba(94, 125, 227, 0.9);
}

/* Animaciones */
.popup.active {
	opacity: 1;
	transform: scale(1);
}

a.blanco {
  color: white;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}



/*Switch admin*/

.switch {
  --line: #505162;
  --dot: #F7F8FF;
  --circle: #9EA0BE;
  --duration: .3s;
  --text: #9EA0BE;
  cursor: pointer;
}
.switch input {
  display: none;
}
.switch input + div {
  position: relative;
}
.switch input + div:before, .switch input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 4px;
  top: 10px;
  width: 24px;
  background: var(--line);
  transform: scaleX(var(--s));
  transition: transform var(--duration) ease;
}
.switch input + div:before {
  --s: 0;
  left: 0;
  transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}
.switch input + div:after {
  left: 28px;
  transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}
.switch input + div span {
  padding-left: 56px;
  line-height: 24px;
  color: var(--text);
}
.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
  padding-left: 64px;
}
.switch input:checked + div:before {
  --s: 1;
}
.switch input:checked + div:after {
  --s: 0;
}
.switch input:checked + div span:before {
  --x: 28px;
  --s: 12px;
  --b: var(--dot);
}