.content h3 {
    text-align: center;
    margin-bottom: 10%;
}

.tabsModule {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    font-size: 16px;
    font-family: 'avenir', sans-serif;
}

.tabs {
    display: flex;
    width: 320px;
}

.tabs .tab.active {
    color: #000;
    font-weight: 500;
}

.sections .section.active {
    display: block;
}

.sections .section.active .content {
    opacity: 1;
    margin-top: 0;
}

.tabs .tab {
    width: 25%;
    padding: 8px;
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    background: transparent;
    transition: all 100ms ease-in-out;
}

.tabs .tab:hover {
    background: #f8f8f8;
    transition: all 100ms ease-in-out;
}

.tabs .tab:active {
    background: #f4f4f4;
    transition: all 100ms ease-in-out;
}

.sections .section {
    width: 400px;
    display: none;
    padding: 32px;
}

.tabSlider {
    height: 3px;
    width: 320px;
    background: transparent;
}

.tabSlider .bar {
    height: 100%;
    width: 25%;
    background: #0078d4;
    margin-left: 0;
    transition: all 200ms ease-in-out;
}